@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;

  /* font: normal 16px  "Roboto", sans-serif ; */
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #0f141e;
}
a:visited {
  color: #86898f;
}
.avatar {
  width: 150px;
  border-radius: 50%;
}

.info {
  margin-bottom: 20px;
  display: flex;
}

@media (max-width: 700px) {
  .info {
    display: block;
    text-align: center;
  }
}

.info-text {
  margin-left: 20px;
}
.info-text h4 {
  margin-bottom: 10px;
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  text-decoration: none;
  /* text-transform: capitalize; */
  /* letter-spacing: 25px; */
  /* word-spacing: 20px; */
}
.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}
/* .social {
  background: red; */
/* padding: 15px; */
/* padding: 15px 40px; */
/* padding: 15px 20px 25px 30px; */
/* padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 30p {
  background: black;
  width: 25%;
  height: 300px;x;
  margin: 5px;
} */
/* .box-model > div
  float: left;
  border: solid red 4px;
  box-sizing: border-box;
} */
.bg-yellow {
  background: #fff9dc;
}
.bg-green {
  background: #e5ffe7;
}
.bg-red {
  background: #ffe5e5;
}
.card {
  padding: 15px 20px;
  margin: 15px 20px;
  border-radius: 20px;
}
.card h2 {
  margin-bottom: 10px;
}
.list {
  padding: 0px 20px;
}
.list li {
  color: #86898f;
  margin-bottom: 10px;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact h2 {
  text-align: center;
}
.formg label {
  display: block;
  font-size: 14px;
  color: #86898f;
}
.formg input,
.formg textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .formg {
  width: 50%;
}
.row > .formg:first-child {
  margin-right: 20px;
}
.btn {
  background: #000;
  padding: 10px 15px;
  color: antiquewhite;
  font-family: inherit;
  border: none;
  cursor: pointer;
  border: groove;
  margin-left: 10px;
}

.btn:hover {
  opacity: 0.9;
}

/* .position {
  position: relative;
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
  height: 300px;
} */
/* 
.box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: salmon;
  border-radius: 50px;
} */
